
body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(#202020, #25293d) fixed;
}

h1 {

    color: whitesmoke;
}

h3 {
    color: #5a5a5a;
    font-family: 'Bebas Neue', sans-serif;
}

.Cabecera{
        font-family: 'Mystery Quest', cursive;
        font-size: 300%;
        text-decoration: none;
        color: #fff;
        text-shadow:
            0 0 7px #ff0000,
            0 0 10px #ff00dd,
            0 0 21px #ff0055;
}

header {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background: #1b1b1b;
    height: 100px;
    margin-bottom: 50px;
}

footer {
    padding: 5px;
    margin-top: 10%;
    background-color: #2b2b2b;
    height: 50px;
}